<article class="post-item">
    <header>
        <h2><a href="<%= post.slug %>"><%= post.data.title %></a></h2>
        <time datetime="<%= post.data.date %>"
        ><%= helpers.formatDate(post.data.date) %></time>
    </header>
    <p class="post-excerpt"><%- post.excerpt %></p>
    <footer>
        <a href="<%= post.slug %>">Read More</a>
    </footer>
</article>
