<article class="post-item post-item--brief" data-tags="<%= post.data.tags.join(' ') %>">
  <time datetime="<%= post.data.date %>"><%= post.data.date %></time>
  <h2><a href="<%= post.slug %>"><%= post.data.title %></a></h2>
</article>
